# Explore here

In [1]:
import pandas as pd

total_data = pd.read_csv("/workspaces/app_fk/data/student_admission_record_dirty.csv")
total_data.head()

,Name,Age,Gender,Admission Test Score,High School Percentage,City,Admission Status
0,Shehroz,24.0,Female,50.0,68.90,Quetta,Rejected
1,Waqar,21.0,Female,99.0,60.73,Karachi,NaN
2,Bushra,17.0,Male,89.0,NaN,Islamabad,Accepted
3,Aliya,17.0,Male,55.0,85.29,Karachi,Rejected
4,Bilal,20.0,Male,65.0,61.13,Lahore,NaN

In [2]:
total_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    147 non-null    object
 1   Age                     147 non-null    float64
 2   Gender                  147 non-null    object
 3   Admission Test Score    146 non-null    float64
 4   High School Percentage  146 non-null    float64
 5   City                    147 non-null    object
 6   Admission Status        147 non-null    object
dtypes: float64(3), object(4)
memory usage: 8.7+ KB

In [3]:
total_data.shape

(157, 7)

In [4]:
if total_data.duplicated().sum():
    total_data = total_data.drop_duplicates()
print(total_data.shape)
total_data.head()

(151, 7)

,Name,Age,Gender,Admission Test Score,High School Percentage,City,Admission Status
0,Shehroz,24.0,Female,50.0,68.90,Quetta,Rejected
1,Waqar,21.0,Female,99.0,60.73,Karachi,NaN
2,Bushra,17.0,Male,89.0,NaN,Islamabad,Accepted
3,Aliya,17.0,Male,55.0,85.29,Karachi,Rejected
4,Bilal,20.0,Male,65.0,61.13,Lahore,NaN

In [5]:
total_data.isnull().sum().sort_values(ascending=False)

Admission Test Score      11
High School Percentage    11
Name                      10
Gender                    10
Age                       10
City                      10
Admission Status          10
dtype: int64

In [6]:

total_data["Admission Test Score"] = total_data["Admission Test Score"].fillna(total_data["Admission Test Score"].median())
total_data["High School Percentage"] = total_data["High School Percentage"].fillna(total_data["High School Percentage"].mode()[0])
total_data["Gender"] = total_data["Gender"].fillna(total_data["Gender"].mode()[0]) 
total_data["Age"] = total_data["Age"].fillna(total_data["Age"].mode()[0])
total_data["City"] = total_data["City"].fillna(total_data["City"].mode()[0]) 
total_data["Admission Status"] = total_data["Admission Status"].fillna(total_data["Admission Status"].mode()[0])  


total_data["Name"].fillna("Desconocido", inplace=True)  


total_data.isnull().sum()

/tmp/ipykernel_31919/2001177043.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  total_data["Name"].fillna("Desconocido", inplace=True)

Name                      0
Age                       0
Gender                    0
Admission Test Score      0
High School Percentage    0
City                      0
Admission Status          0
dtype: int64

In [7]:
total_data.drop(["Name", "City"], axis = 1, inplace = True)
total_data.head()

    Age  Gender  Admission Test Score  High School Percentage Admission Status
0  24.0  Female                  50.0                   68.90         Rejected
1  21.0  Female                  99.0                   60.73         Rejected
2  17.0    Male                  89.0                   54.59         Accepted
3  17.0    Male                  55.0                   85.29         Rejected
4  20.0    Male                  65.0                   61.13         Rejected

In [8]:
#total_data["Gender"] = total_data["Gender"].str.strip()  # Eliminar espacios
#total_data["Admission Status"] = total_data["Admission Status"].str.strip()  # Eliminar espacios
#total_data["Gender"] = total_data["Gender"].str.replace(',', '.')  # Reemplazar coma por punto
#total_data["Admission Status"] = total_data["Admission Status"].str.replace(',', '.')  # Reemplazar coma por punto
#total_data["Gender"] = total_data["Gender"].str.replace('$', '')  # Eliminar símbolo de dólar
#total_data["Admission Status"] = total_data["Admission Status"].str.replace('$', '')  # Eliminar símbolo de dólar
# Convertir a numérico
#total_data["Gender"] = pd.to_numeric(total_data["Gender"], errors='coerce')
#total_data["Admission Status"] = pd.to_numeric(total_data["Gender"], errors='coerce')
# Manejar valores NaN
#total_data["Gender"].fillna(0, inplace=True)  # Rellenar NaN con 0
#total_data["Admission Status"].fillna(0, inplace=True)  # Rellenar NaN con 0
# Mostrar el DataFrame resultante
#print("DataFrame después de la conversión:")
#total_data.head()

In [9]:
print(total_data['Gender'].unique())
print(total_data['Admission Status'].unique())

['Female' 'Male']
['Rejected' 'Accepted']

In [10]:
total_data['Gender'] = total_data['Gender'].astype(str).str.strip().str.lower()
total_data['Admission Status'] = total_data['Admission Status'].astype(str).str.strip().str.lower()
print(total_data['Gender'].unique())
print(total_data['Admission Status'].unique())

['female' 'male']
['rejected' 'accepted']

In [11]:
total_data['Gender'] = total_data['Gender'].map({
    'male': True,
    'female': False
})

total_data['Admission Status'] = total_data['Admission Status'].map({
    'admitted': True,
    'rejected': False
})

In [12]:
pd.set_option('display.max_rows', None)  # Mostrar todas las filas
# Ver todos los registros de la columna 'Nombre'
print("Todos los registros de la columna 'Nombre':")
print(total_data['Admission Status'])

Todos los registros de la columna 'Nombre':
0      False
1      False
2        NaN
3      False
4      False
5        NaN
6        NaN
7        NaN
8        NaN
9      False
10     False
11       NaN
12     False
13       NaN
14     False
15     False
16     False
17     False
18       NaN
19     False
20     False
21     False
23     False
24     False
25     False
26     False
27     False
28       NaN
29       NaN
30     False
31     False
32     False
33     False
34     False
35       NaN
36     False
37     False
38     False
39       NaN
40     False
41     False
42       NaN
43       NaN
44       NaN
45     False
46       NaN
47       NaN
48       NaN
49     False
50     False
51     False
53     False
54     False
55       NaN
56       NaN
57       NaN
58       NaN
59     False
60       NaN
61       NaN
62       NaN
63       NaN
64     False
65     False
66     False
67     False
68     False
69       NaN
70       NaN
71     False
72     False
73       NaN
74     False
75     False
76       NaN
77       NaN
78       NaN
79     False
80       NaN
81     False
82       NaN
83     False
84       NaN
85     False
86       NaN
87       NaN
89     False
90       NaN
91     False
92       NaN
93     False
94       NaN
95     False
96     False
97     False
98     False
99       NaN
100    False
101      NaN
102      NaN
103    False
104    False
105    False
106      NaN
107      NaN
108    False
109      NaN
111      NaN
112      NaN
113    False
114      NaN
115    False
116      NaN
117    False
118      NaN
119      NaN
121    False
123    False
124      NaN
125      NaN
126    False
127      NaN
128    False
129    False
130    False
131    False
132      NaN
133    False
134    False
135    False
136      NaN
137    False
138      NaN
139    False
140      NaN
141    False
142    False
143    False
144    False
145      NaN
146    False
147      NaN
148      NaN
149      NaN
150      NaN
151    False
152      NaN
153    False
154      NaN
155      NaN
156      NaN
Name: Admission Status, dtype: object

In [13]:
print(total_data['Gender'].unique())
print(total_data['Admission Status'].unique())

[False  True]
[False nan]

In [17]:
total_data['Admission Status'] = total_data['Admission Status'].fillna(True)

/tmp/ipykernel_31919/1644196348.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  total_data['Admission Status'] = total_data['Admission Status'].fillna(True)

In [19]:
pd.set_option('display.max_rows', None)  # Mostrar todas las filas
# Ver todos los registros de la columna 'Nombre'
print("Todos los registros de la columna 'Nombre':")
print(total_data['Gender'])

Todos los registros de la columna 'Nombre':
0      False
1      False
2       True
3      False
4      False
5       True
6       True
7       True
8       True
9      False
10     False
11      True
12     False
13      True
14     False
15     False
16     False
17     False
18      True
19     False
20     False
21     False
23     False
24     False
25     False
26     False
27     False
28      True
29      True
30     False
31     False
32     False
33     False
34     False
35      True
36     False
37     False
38     False
39      True
40     False
41     False
42      True
43      True
44      True
45     False
46      True
47      True
48      True
49     False
50     False
51     False
53     False
54     False
55      True
56      True
57      True
58      True
59     False
60      True
61      True
62      True
63      True
64     False
65     False
66     False
67     False
68     False
69      True
70      True
71     False
72     False
73      True
74     False
75     False
76      True
77      True
78      True
79     False
80      True
81     False
82      True
83     False
84      True
85     False
86      True
87      True
89     False
90      True
91     False
92      True
93     False
94      True
95     False
96     False
97     False
98     False
99      True
100    False
101     True
102     True
103    False
104    False
105    False
106     True
107     True
108    False
109     True
111     True
112     True
113    False
114     True
115    False
116     True
117    False
118     True
119     True
121    False
123    False
124     True
125     True
126    False
127     True
128    False
129    False
130    False
131    False
132     True
133    False
134    False
135    False
136     True
137    False
138     True
139    False
140     True
141    False
142    False
143    False
144    False
145     True
146    False
147     True
148     True
149     True
150     True
151    False
152     True
153    False
154     True
155     True
156     True
Name: Gender, dtype: bool

In [20]:
total_data.head()

,Age,Gender,Admission Test Score,High School Percentage,Admission Status
0,24.0,False,50.0,68.90,False
1,21.0,False,99.0,60.73,False
2,17.0,True,89.0,54.59,True
3,17.0,False,55.0,85.29,False
4,20.0,False,65.0,61.13,False

In [14]:

df.columns = df.columns.str.strip()

df["Admission Test Score"].fillna(df["Admission Test Score"].median(), inplace=True)
df["High School Percentage"].fillna(df["High School Percentage"].mode()[0], inplace=True)
df["Name"].fillna(df["Name"].mode()[0], inplace=True)  
df["Gender"].fillna(df["Gender"].mode()[0], inplace=True)  
df["Age"].fillna(df["Age"].mode()[0], inplace=True)
df["City"].fillna(df["City"].mode()[0], inplace=True) 
df["Admission Status"].fillna(df["Admission Status"].mode()[0], inplace=True)

NameError: name 'df' is not defined

In [ ]:
df.isnull().sum().sort_values(ascending=False)

In [ ]:
df.info()

In [ ]:

df['Name'] = pd.to_numeric(df['Name'], errors='coerce')

In [ ]:
df['Gender'] = pd.to_numeric(df['Gender'], errors='coerce')
df['City'] = pd.to_numeric(df['City'], errors='coerce')
df['Admission Status'] = pd.to_numeric(df['Admission Status'], errors='coerce')

In [ ]:
df.info()

In [ ]:
df["Name_n"] = pd.factorize(df["Name"])[0]
df["Gender_n"] = pd.factorize(df["Gender"])[0]
df["City_n"] = pd.factorize(df["City"])[0]
df["Admission Status_n"] = pd.factorize(df["Admission Status"])[0]

In [ ]:
df.head()

In [ ]:
df = df.drop(columns=["Name", "Gender", "City", "Admission Status"])

In [ ]:
df.head()

In [ ]:
from sklearn.model_selection import train_test_split

num_variables = ["Name_n", "Age", "Gender_n", "Admission Test Score", "High School Percentage", "City_n"]

# Dividimos el conjunto de datos en muestras de train y test
X = df.drop("Admission Status_n", axis = 1)[num_variables]
y = df["Admission Status_n"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

X_train.head()

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)

X_train_norm = scaler.transform(X_train)
X_train_norm = pd.DataFrame(X_train_norm, index = X_train.index, columns = num_variables)

X_test_norm = scaler.transform(X_test)
X_test_norm = pd.DataFrame(X_test_norm, index = X_test.index, columns = num_variables)

X_train_norm.head()

In [ ]:
x_train = X_train_norm
x_test = X_test_norm

In [ ]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(x_train, y_train)

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
import matplotlib.pyplot as plt
from sklearn import tree

fig = plt.figure(figsize=(10,10))

tree.plot_tree(model, feature_names = list(x_train.columns), class_names = ["Name_n", "Age", "Gender_n", "Admission Test Score", "High School Percentage", "City_n"], filled = True)

plt.show()

In [ ]:
Y_pred = model.predict(x_test)
Y_pred

In [ ]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, Y_pred)

In [ ]:
### Profundidad del árbol
model.get_depth()

In [ ]:
### Número de hojas
model.get_n_leaves()

In [ ]:
from pickle import dump

dump(model, open("../models/decision_tree_classifier_default_42.sav", "wb"))